# Flow Mapping

- This notebook contains the procedures to merge the regional and provincial data and create the traffic flow network.

In [2]:
import pandas as pd
import geopandas as gpd
import osmnx as ox

In [ ]:
df_bol = pd.read_csv('../data/traffic_data/bologna_traffic_time_series.csv', sep=';', nrows=5)

In [6]:
df_bol.head()

,datetime,id_uni,Livello,direzione,traffic,Nodo da,Nodo a,angolo
0,2024-04-24 00:00:00,450,1,O,49,10384,10360,81
1,2024-04-24 00:00:00,362,1,S,98,10310,15570,170
2,2024-04-24 00:00:00,753,1,S,226,10320,16721,171
3,2024-04-24 00:00:00,456,1,S,0,10239,14166,170
4,2024-04-24 00:00:00,323,1,O,211,16723,16727,80

In [8]:
df_regional = pd.read_csv('../data/traffic_data/regional_traffic_count_cleaned.csv', sep=';', nrows=5)
df_regional.head()

              datetime  MTSStationID  DirectionCode  VehicleType  TransitCount
0  2024-01-01 00:00:00           152              0            2           367
1  2024-01-01 00:00:00           152              0            4             6
2  2024-01-01 00:00:00           152              0            5             1
3  2024-01-01 00:00:00           152              0            9             1
4  2024-01-01 00:00:00           152              1            2           489