## Import Libraries

In [6]:
import sys
import os

# Add parent directory to path
sys.path.append(os.path.dirname(os.getcwd()))

# Import using package structure
from scripts.data_downloader import DataDownloader
from scripts.utils import rename_traffic_columns
# Use with adjusted paths
downloader = DataDownloader('../data/DGCTA - Flussi di Traffico.csv')

Loading data from: ../data/DGCTA - Flussi di Traffico.csv
Successfully loaded 196 records

In [2]:
# downloader.data_map
downloader.data_map[2021,1]

{'dataset_id': 'DS-1944',
 'url': 'https://rerdatahub.blob.core.windows.net/open-datahub/DS-1944/2021/01_Gennaio_2021.csv',
 'frequency': 'SETTIMANALE',
 'status_code': 'S',
 'timestamp': '2024-08-02 17:43:31',
 'availability': 'OPEN'}

In [3]:
df = downloader.download_and_load_data(year=2020, month=1)

Downloading data for 2020-01...
URL: https://rerdatahub.blob.core.windows.net/open-datahub/DS-1944/2020/01_Gennaio_2020.csv
Progress: 100.0%
Successfully downloaded to: downloads/01_Gennaio_2020.csv
Data loaded successfully. Shape: (3568869, 8)

In [7]:
df = rename_traffic_columns(df)

In [10]:
df.tail(10)

,Year,Month,Day,HourMinute,MTSStationID,DirectionCode,VehicleType,TransitCount
3568859,2020,202001,20200131,23:45,675,0,4,2
3568860,2020,202001,20200131,23:45,675,0,7,1
3568861,2020,202001,20200131,23:45,675,0,8,3
3568862,2020,202001,20200131,23:45,675,1,2,7
3568863,2020,202001,20200131,23:45,675,1,4,5
3568864,2020,202001,20200131,23:45,675,1,8,4
3568865,2020,202001,20200131,23:45,676,0,2,37
3568866,2020,202001,20200131,23:45,676,0,8,2
3568867,2020,202001,20200131,23:45,676,1,2,46
3568868,2020,202001,20200131,23:45,676,1,4,2

In [11]:
df.MTSStationID.unique()

array([  6,   7,   9,  12,  16,  25,  52,  53,  98, 100, 104, 107, 108,
       112, 115, 116, 117, 122, 123, 124, 125, 126, 127, 128, 130, 131,
       132, 133, 134, 137, 138, 139, 140, 143, 146, 147, 149, 150, 151,
       152, 153, 154, 155, 157, 158, 170, 171, 173, 174, 176, 177, 182,
       184, 186, 188, 219, 220, 221, 222, 223, 227, 228, 236, 238, 239,
       243, 244, 245, 246, 247, 252, 256, 258, 259, 260, 262, 263, 274,
       275, 276, 277, 278, 279, 281, 282, 285, 287, 288, 289, 290, 291,
       292, 294, 298, 300, 303, 304, 305, 307, 308, 311, 312, 314, 318,
       323, 328, 331, 332, 334, 336, 337, 339, 340, 342, 343, 344, 349,
       350, 354, 355, 356, 357, 376, 377, 383, 389, 390, 391, 393, 396,
       400, 401, 402, 403, 404, 405, 410, 411, 425, 426, 427, 428, 429,
       431, 432, 436, 437, 438, 439, 441, 442, 445, 446, 447, 448, 449,
       450, 451, 452, 453, 504, 505, 601, 602, 605, 607, 608, 610, 612,
       613, 614, 615, 616, 617, 618, 620, 621, 623, 624, 627, 628, 629,
       633, 634, 635, 636, 637, 638, 639, 651, 652, 654, 655, 661, 662,
       663, 665, 670, 675, 676, 118, 295, 399, 434, 218, 280, 148, 385])